In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### DATASET SOURCE:

#### DATASET LINK : https://www.kaggle.com/datasets/atharvasoundankar/pharmacy-otc-sales-data-2022

## Problem Definition: 

### Optimizing Sales and Revenue Performance

### Problem Statement: 
The company lacks a clear, data-driven understanding of what factors are driving its sales and revenue performance in 2022. 

Without this insight, it is unable to effectively allocate resources, target key markets, and implement strategies to increase profitability.

### Background:

The company has collected sales data for products, countries, and salespeople throughout 2022.

However, this raw data has not been comprehensively analyzed to reveal actionable insights into market trends, performance drivers, and areas for improvement.

### Scope of Analysis:

 The analysis focuses on a dataset containing information on Product, Country, Sales Person, Total Revenue, Boxes Shipped, and monthly sales trends.

### Key Objectives of the Analysis:

### Performance Identification: 
To identify the highest and lowest-performing products, salespeople, and countries by total revenue and sales volume.

### Market Concentration:
To understand how revenue is distributed across different countries and to pinpoint the most lucrative product-country combinations.

### Seasonal Trends: 
To uncover any monthly or seasonal patterns in total revenue and specific product sales (e.g., Allergy Pills).

### Relationship between Metrics: 
To determine the correlation between key metrics like Total Revenue, Boxes Shipped, and Amount ($).

### Revenue Distribution:
To analyze the distribution of revenue values to understand if sales are driven by a few large transactions or many small ones.

### Expected Outcome:

A set of actionable insights that can be used by management, sales, and marketing teams to focus efforts on top-performing areas, address underperforming ones, and capitalize on seasonal trends to maximize revenue and efficiency.

In [2]:
df = pd.read_csv(r"C:\Users\Surface Pro\Desktop\ENTRI APP\phython\self_projects\pharmacy_otc_sales_data.csv")
df

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country
0,2/6/2022,Pain Relief Tablets,Divya Mehra,7,67.43,Australia
1,2/5/2022,Antiseptic Cream,Nikhil Batra,18,421.46,Canada
2,2/19/2022,Cough Syrup,Ritika Shah,2,48.25,UK
3,3/28/2022,Pain Relief Tablets,Nikhil Batra,5,59.89,UK
4,1/17/2022,Digestive Enzyme,Ritika Shah,8,147.73,USA
...,...,...,...,...,...,...
328,2/8/2022,Digestive Enzyme,Sneha Iyer,15,302.46,UK
329,8/28/2022,Allergy Pills,Aman Verma,3,52.50,India
330,4/17/2022,Nasal Spray,Divya Mehra,5,65.67,UK
331,1/5/2022,Eye Drops,Aman Verma,17,247.43,USA
332,8/11/2022,Digestive Enzyme,Rajesh Patel,3,65.98,UK

### DATASET OVERVIEW

#### BASIC INFO OF DATASET

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           333 non-null    object
 1   Product        333 non-null    object
 2   Sales Person   333 non-null    object
 3   Boxes Shipped  333 non-null    int64
 4   Amount ($)     333 non-null    float64
 5   Country        333 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 15.7+ KB

#### FINDING OUT NULL VALUES IN DATASET

In [6]:
df.isnull().sum()

Date             0
Product          0
Sales Person     0
Boxes Shipped    0
Amount ($)       0
Country          0
dtype: int64

#### FINDING OUT DUPLICATE DATA

In [9]:
df.duplicated().sum()

0

#### FINDING OUT TOTAL ROWS AND COLUMNS

In [10]:
df.shape

(333, 6)

#### LOADING FIRST 5 ROWS IN DATASET

In [11]:
df.head()

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country
0,2/6/2022,Pain Relief Tablets,Divya Mehra,7,67.43,Australia
1,2/5/2022,Antiseptic Cream,Nikhil Batra,18,421.46,Canada
2,2/19/2022,Cough Syrup,Ritika Shah,2,48.25,UK
3,3/28/2022,Pain Relief Tablets,Nikhil Batra,5,59.89,UK
4,1/17/2022,Digestive Enzyme,Ritika Shah,8,147.73,USA

#### LOADING LAST 5 COLUMNS OF DATASET

In [13]:
df.tail()

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country
328,2/8/2022,Digestive Enzyme,Sneha Iyer,15,302.46,UK
329,8/28/2022,Allergy Pills,Aman Verma,3,52.50,India
330,4/17/2022,Nasal Spray,Divya Mehra,5,65.67,UK
331,1/5/2022,Eye Drops,Aman Verma,17,247.43,USA
332,8/11/2022,Digestive Enzyme,Rajesh Patel,3,65.98,UK

#### STATISTICAL ANALYSIS OF NUMERICAL DATA

In [14]:
df.describe()

       Boxes Shipped  Amount ($)
count     333.000000  333.000000
mean       10.474474  176.964835
std         5.955415  119.058556
min         1.000000    8.090000
25%         5.000000   75.990000
50%        11.000000  156.920000
75%        16.000000  248.770000
max        20.000000  494.080000

#### STATISTICAL ANALYSIS OF CATEGORICAL DATA

In [20]:
df.describe(include=object)

             Date           Product  Sales Person Country
count         333               333           333     333
unique        179                 7             7       5
top     5/23/2022  Antiseptic Cream  Rajesh Patel     USA
freq            6                56            55      77

#### FINDING UNIQUE VALUES OF TOTAL COLUMN

In [24]:
df.nunique()

Date             179
Product            7
Sales Person       7
Boxes Shipped     20
Amount ($)       332
Country            5
dtype: int64

#### LISTING OUT UNIQUE VALUE PER COLUMNS

In [26]:
df['Product'].unique()

array(['Pain Relief Tablets', 'Antiseptic Cream', 'Cough Syrup',
       'Digestive Enzyme', 'Eye Drops', 'Nasal Spray', 'Allergy Pills'],
      dtype=object)

In [27]:
df['Sales Person'].unique()

array(['Divya Mehra', 'Nikhil Batra', 'Ritika Shah', 'Priya Singh',
       'Sneha Iyer', 'Rajesh Patel', 'Aman Verma'], dtype=object)

In [28]:
df['Country'].unique()

array(['Australia', 'Canada', 'UK', 'USA', 'India'], dtype=object)

#### STANDARDIZING DATE FORMAT FROM STRING FORMAT

In [30]:
df['Date'] = pd.to_datetime(df['Date'],errors='coerce')

#### STANDARDIZING BOXES SHIPPED FROM STRING TO NUMERIC FORMAT

In [31]:
df['Boxes Shipped'] = pd.to_numeric(df['Boxes Shipped'],errors='coerce')

#### STANDARDIZING AMOUNT FORMAT FROM STRING TO NUMERIC DATA

In [32]:
df['Amount ($)'] = pd.to_numeric(df['Amount ($)'], errors='coerce')

#### CREATING DERIVED COLUMNS - TOTAL REVENUE

In [42]:
df['Total Revenue'] = df['Boxes Shipped'] * df['Amount ($)']

In [43]:
df.head(1)

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country,Profit,Total Revenue
0,2022-02-06,Pain Relief Tablets,Divya Mehra,7,67.43,Australia,472.01,472.01

#### REMOVING PROFIT COLUMN

In [49]:
df.drop(columns = 'Profit', inplace = True)

In [50]:
df.head()

,Date,Product,Sales Person,Boxes Shipped,Amount ($),Country,Total Revenue
0,2022-02-06,Pain Relief Tablets,Divya Mehra,7,67.43,Australia,472.01
1,2022-02-05,Antiseptic Cream,Nikhil Batra,18,421.46,Canada,7586.28
2,2022-02-19,Cough Syrup,Ritika Shah,2,48.25,UK,96.50
3,2022-03-28,Pain Relief Tablets,Nikhil Batra,5,59.89,UK,299.45
4,2022-01-17,Digestive Enzyme,Ritika Shah,8,147.73,USA,1181.84

In [ ]:
df

### EXPLORATORY DATA ANALYSIS AND DATA VIZUALIZATION

#### STATISTICAL SUMMARY OF NUMERIC DATA

In [52]:
df.describe()

                                Date  Boxes Shipped  Amount ($)  Total Revenue
count                            333     333.000000  333.000000     333.000000
mean   2022-05-07 19:31:53.513513472      10.474474  176.964835    2457.048859
min              2022-01-02 00:00:00       1.000000    8.090000       8.090000
25%              2022-03-09 00:00:00       5.000000   75.990000     397.300000
50%              2022-05-17 00:00:00      11.000000  156.920000    1679.040000
75%              2022-07-06 00:00:00      16.000000  248.770000    4026.450000
max              2022-08-31 00:00:00      20.000000  494.080000    9881.600000
std                              NaN       5.955415  119.058556    2405.885021

#### CALCULATING TOTAL NUMBER OF BOXES SHIPPED

In [53]:
df['Boxes Shipped'].sum()

3488

#### CALCULATING TOTAL AMOUNT

In [54]:
df['Amount ($)'].sum()

58929.29

#### CALCULATING TOTAL REVENUE

In [55]:
df['Total Revenue'].sum()

818197.27

#### MEDIAN VALUE OF BOXES SHIPPED

In [66]:
df['Boxes Shipped'].median()

11.0

#### MEDIAN VALUE OF AMOUNT

In [64]:
df['Amount ($)'].median()

156.92

#### MEDIAN VALUE OF TOTAL REVENUE

In [65]:
df['Total Revenue'].median()

1679.04

#### MODE OF BOXES SHIPPED

In [67]:
df['Boxes Shipped'].mode()

0    18
Name: Boxes Shipped, dtype: int64

#### MODE OF AMOUNT

In [68]:
df['Amount ($)'].mode()

0    59.89
Name: Amount ($), dtype: float64

#### MODE OF TOTAL REVENUE

In [71]:
df['Total Revenue'].mode()

0         8.09
1         8.51
2         8.77
3         9.40
4         9.98
        ...
328    9018.35
329    9415.60
330    9598.60
331    9738.80
332    9881.60
Name: Total Revenue, Length: 333, dtype: float64

#### TOTAL VARIENCE OF TOTAL REVENUE

In [72]:
df['Total Revenue'].var()

5788282.733790266

#### TOTAL VARIENCE OF AMOUNT

In [74]:
df['Amount ($)'].var()

14174.93971781903

#### TOTAL VARIENCE OF BOXES SHIPPED

In [75]:
df['Boxes Shipped'].var()

35.46696696696698

#### RANGE OF TOTAL REVENUE

In [76]:
df['Total Revenue'].max() - df['Total Revenue'].min()

9873.51

#### RANGE OF AMOUNT

In [78]:
df['Amount ($)'].max() - df['Amount ($)'].min()

485.99

#### RANGE OF BOXES SHIPPED

In [79]:
df['Boxes Shipped'].max() - df['Boxes Shipped'].min()

19

#### IMPORTING CLEANED DATA TO CSV

In [148]:
df.to_csv('cleaned_pharmacy_otc_sales_data.csv')